main {
    align-items: center;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Roboto", sans-serif;
  }
  
  .css-card {
    width: 23rem;
    height: 30rem;
    border-radius: 50px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    color: #f0f0f0;
    box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
  }
  .css-card img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.9;
    transition: opacity 0.2s ease-out;
  }
  .css-card h2 {
    position: absolute;
    inset: auto auto 30px 30px;
    margin: 0;
    transition: inset 0.3s 0.3s ease-out;
       font-family: monospace;
    font-weight: normal;
    text-transform: uppercase;
  }
  .css-card p, .css-card a {
    position: absolute;
    opacity: 0;
    max-width: 80%;
    transition: opacity 0.2s ease-out;
  }
  .css-card p {
    inset: auto auto 77px 30px;    font-family: monospace;
  }
  .css-card a {
    inset: auto auto 40px 30px;
    color: inherit;
    text-decoration: none;    font-family: monospace;
  }
  .css-card:hover h2 {
    inset: auto auto 220px 30px;
    transition: inset 0.3s ease-out;
  }
  .css-card:hover p, .css-card:hover a {
    opacity: 1;
    transition: opacity 0.5s 0.1s ease-in;
  }
  .css-card:hover img {
    transition: opacity 0.2s ease-in;
    opacity: 1;
  }
  
  .material-symbols-outlined {
    vertical-align: middle;
  }